## Preprocessing

In [ ]:
url = "https://raw.githubusercontent.com/Eamado18/Deep-Learning-Homework-Charity-Funding-Predictor/main/Resources/charity_data.csv"

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv(url)
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])

In [ ]:
name_counts = application_df['NAME'].value_counts()
n_replace = list(name_counts[name_counts<5].index)
for name in n_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [ ]:
# Determine the number of unique values in each column.
print(application_df.nunique())

NAME                       403
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
to_replace = list(application_counts [application_counts <500].index)

# Replace in dataframe
for app in to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
binning_class = application_df['CLASSIFICATION'].value_counts()

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = binning_class[binning_class>1]
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (binning_class[binning_class<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 453 columns]

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len( X_train_scaled[0])
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 8)                 3624

 dense_7 (Dense)             (None, 16)                144

 dense_8 (Dense)             (None, 1)                 17

=================================================================
Total params: 3,785
Trainable params: 3,785
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7437 - val_loss: 0.4567 - val_accuracy: 0.7823
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4460 - accuracy: 0.7839 - val_loss: 0.4414 - val_accuracy: 0.7911
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4345 - accuracy: 0.7890 - val_loss: 0.4384 - val_accuracy: 0.7919
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.7904 - val_loss: 0.4368 - val_accuracy: 0.7909
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4275 - accuracy: 0.7925 - val_loss: 0.4360 - val_accuracy: 0.7932
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4243 - accuracy: 0.7940 - val_loss: 0.4381 - val_accuracy: 0.7948
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4229 - accuracy: 0.7976 - val_loss: 0.4344 - val_accuracy: 0.7971
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7980 - val_loss: 0.4350 - val_accuracy: 0.7968
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.7991 - val_loss: 0.4359 - val_accuracy: 0.7976
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4196 - accuracy: 0.7980 - val_loss: 0.4375 - val_accuracy: 0.7992
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4195 - accuracy: 0.7989 - val_loss: 0.4402 - val_accuracy: 0.7997
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4192 - accuracy: 0.7984 - val_loss: 0.4370 - val_accuracy: 0.7992
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7995 - val_loss: 0.4383 - val_accuracy: 0.8007
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4180 - accuracy: 0.8005 - val_loss: 0.4386 - val_accuracy: 0.7987
Epoch 15/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.8005 - val_loss: 0.4400 - val_accuracy: 0.7987
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.8004 - val_loss: 0.4382 - val_accuracy: 0.7992
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4168 - accuracy: 0.7995 - val_loss: 0.4400 - val_accuracy: 0.7997
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4165 - accuracy: 0.8007 - val_loss: 0.4407 - val_accuracy: 0.7999
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4156 - accuracy: 0.8020 - val_loss: 0.4420 - val_accuracy: 0.7979
Epoch 20/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.8001 - val_loss: 0.4391 - val_accuracy: 0.8018
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4153 - accuracy: 0.8020 - val_loss: 0.4404 - val_accuracy: 0.8033
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8022 - val_loss: 0.4427 - val_accuracy: 0.7942
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4147 - accuracy: 0.8021 - val_loss: 0.4428 - val_accuracy: 0.7968
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8011 - val_loss: 0.4417 - val_accuracy: 0.8018
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4146 - accuracy: 0.8013 - val_loss: 0.4435 - val_accuracy: 0.7955
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4144 - accuracy: 0.8011 - val_loss: 0.4404 - val_accuracy: 0.8025
Epoch 27/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8015 - val_loss: 0.4427 - val_accuracy: 0.7997
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4139 - accuracy: 0.8013 - val_loss: 0.4407 - val_accuracy: 0.7948
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4136 - accuracy: 0.8012 - val_loss: 0.4410 - val_accuracy: 0.8015
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4132 - accuracy: 0.8018 - val_loss: 0.4417 - val_accuracy: 0.8002
Epoch 31/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4134 - accuracy: 0.8018 - val_loss: 0.4409 - val_accuracy: 0.8015
Epoch 32/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4130 - accuracy: 0.8015 - val_loss: 0.4441 - val_accuracy: 0.8015
Epoch 33/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4128 - accuracy: 0.8020 - val_loss: 0.4446 - val_accuracy: 0.7992
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4127 - accuracy: 0.8016 - val_loss: 0.4431 - val_accuracy: 0.7968
Epoch 35/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4122 - accuracy: 0.8022 - val_loss: 0.4441 - val_accuracy: 0.8025
Epoch 36/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4123 - accuracy: 0.8027 - val_loss: 0.4439 - val_accuracy: 0.8012
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8025 - val_loss: 0.4452 - val_accuracy: 0.8002
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.8018 - val_loss: 0.4419 - val_accuracy: 0.7992
Epoch 39/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.8027 - val_loss: 0.4427 - val_accuracy: 0.8031
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.8022 - val_loss: 0.4437 - val_accuracy: 0.7997
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.8019 - val_loss: 0.4454 - val_accuracy: 0.7976
Epoch 42/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8031 - val_loss: 0.4431 - val_accuracy: 0.8002
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8026 - val_loss: 0.4458 - val_accuracy: 0.7966
Epoch 44/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4113 - accuracy: 0.8024 - val_loss: 0.4452 - val_accuracy: 0.7984
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.8024 - val_loss: 0.4440 - val_accuracy: 0.8028
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8031 - val_loss: 0.4427 - val_accuracy: 0.8046
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8036 - val_loss: 0.4447 - val_accuracy: 0.7984
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8024 - val_loss: 0.4473 - val_accuracy: 0.8007
Epoch 49/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4109 - accuracy: 0.8026 - val_loss: 0.4463 - val_accuracy: 0.8002
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8030 - val_loss: 0.4447 - val_accuracy: 0.8005
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8038 - val_loss: 0.4447 - val_accuracy: 0.8018
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4105 - accuracy: 0.8037 - val_loss: 0.4464 - val_accuracy: 0.8007
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4105 - accuracy: 0.8025 - val_loss: 0.4456 - val_accuracy: 0.7994
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8033 - val_loss: 0.4452 - val_accuracy: 0.8005
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4104 - accuracy: 0.8029 - val_loss: 0.4477 - val_accuracy: 0.8018
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8039 - val_loss: 0.4464 - val_accuracy: 0.8002
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4098 - accuracy: 0.8036 - val_loss: 0.4459 - val_accuracy: 0.7997
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8037 - val_loss: 0.4485 - val_accuracy: 0.7981
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8037 - val_loss: 0.4480 - val_accuracy: 0.8005
Epoch 60/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8030 - val_loss: 0.4445 - val_accuracy: 0.7999
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4100 - accuracy: 0.8036 - val_loss: 0.4460 - val_accuracy: 0.7992
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4099 - accuracy: 0.8027 - val_loss: 0.4449 - val_accuracy: 0.8015
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4095 - accuracy: 0.8030 - val_loss: 0.4475 - val_accuracy: 0.7966
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8035 - val_loss: 0.4473 - val_accuracy: 0.7992
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4087 - accuracy: 0.8048 - val_loss: 0.4487 - val_accuracy: 0.8007
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4092 - accuracy: 0.8039 - val_loss: 0.4472 - val_accuracy: 0.8028
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4085 - accuracy: 0.8045 - val_loss: 0.4447 - val_accuracy: 0.8038
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4082 - accuracy: 0.8032 - val_loss: 0.4473 - val_accuracy: 0.8041
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4079 - accuracy: 0.8059 - val_loss: 0.4464 - val_accuracy: 0.8036
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4081 - accuracy: 0.8038 - val_loss: 0.4480 - val_accuracy: 0.8031
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8047 - val_loss: 0.4484 - val_accuracy: 0.7997
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4081 - accuracy: 0.8054 - val_loss: 0.4491 - val_accuracy: 0.8012
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8047 - val_loss: 0.4506 - val_accuracy: 0.7994
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4075 - accuracy: 0.8054 - val_loss: 0.4494 - val_accuracy: 0.8015
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8034 - val_loss: 0.4478 - val_accuracy: 0.8018
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4074 - accuracy: 0.8055 - val_loss: 0.4484 - val_accuracy: 0.8028
Epoch 77/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4079 - accuracy: 0.8043 - val_loss: 0.4507 - val_accuracy: 0.8015
Epoch 78/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8049 - val_loss: 0.4482 - val_accuracy: 0.8007
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4075 - accuracy: 0.8055 - val_loss: 0.4490 - val_accuracy: 0.8033
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4076 - accuracy: 0.8043 - val_loss: 0.4476 - val_accuracy: 0.8020
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4077 - accuracy: 0.8050 - val_loss: 0.4474 - val_accuracy: 0.8015
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8051 - val_loss: 0.4474 - val_accuracy: 0.8010
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4075 - accuracy: 0.8058 - val_loss: 0.4498 - val_accuracy: 0.8025
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4070 - accuracy: 0.8051 - val_loss: 0.4494 - val_accuracy: 0.8025
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8040 - val_loss: 0.4494 - val_accuracy: 0.8036
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4073 - accuracy: 0.8051 - val_loss: 0.4493 - val_accuracy: 0.8031
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8052 - val_loss: 0.4517 - val_accuracy: 0.8005
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8047 - val_loss: 0.4505 - val_accuracy: 0.8028
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8053 - val_loss: 0.4495 - val_accuracy: 0.8025
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4070 - accuracy: 0.8063 - val_loss: 0.4484 - val_accuracy: 0.8020
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4071 - accuracy: 0.8061 - val_loss: 0.4485 - val_accuracy: 0.8012
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8052 - val_loss: 0.4497 - val_accuracy: 0.8025
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8056 - val_loss: 0.4471 - val_accuracy: 0.8018
Epoch 94/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4068 - accuracy: 0.8051 - val_loss: 0.4502 - val_accuracy: 0.8036
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4066 - accuracy: 0.8053 - val_loss: 0.4488 - val_accuracy: 0.8020
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4068 - accuracy: 0.8060 - val_loss: 0.4478 - val_accuracy: 0.8020
Epoch 97/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8060 - val_loss: 0.4501 - val_accuracy: 0.8010
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8052 - val_loss: 0.4473 - val_accuracy: 0.8049
Epoch 99/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8061 - val_loss: 0.4482 - val_accuracy: 0.8038
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8057 - val_loss: 0.4479 - val_accuracy: 0.8020

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4653 - accuracy: 0.7890 - 316ms/epoch - 1ms/step
Loss: 0.465341717004776, Accuracy: 0.7890378832817078

In [ ]:
# Export our model to HDF5 file
# Export our model to HDF5 file
from google.colab import files

nn_model.save('/content/Model_3.h5')
files.download('/content/Model_3.h5')